# Runtime data
.tokens
.ledger
.checkpoint
_contents
unprocessible
_mongo_assets

# IDE config
.vscode

# Dependency directories
node_modules
package-lock.json

# Coverage directories
coverage

# Private examples
example
!example/mock/**/*
!example/index.js
