# Source files
src

# Beautifiers & Indenters
.jsbeautifyrc
tsconfig.json

# Test configurations
jest.config.js
test-report.html

# Data
_contents
_dev_assets
_dev_contents
_development_contents

# Node module dependencies
node_modules
package-lock.json

# IDE config
.vscode

# Private examples
example
!example/mock/**/*
!example/index.js
